@CHARSET "EUC-KR";
    *{margin:0; padding:0;}
    body{
      font:12px "닭음고딕";
	}
    img{
      border:o;
	}
    a{
       text-decoration:none;
	   color:#161616;
	}
	li{
      list-style:none;
	}
	header{
	 	background-image: url(../img/music2.jpg);
	 	background-repeat: no-repeat; 
	 	background-position: top; /*배경 이미지 위치 지정*/	
	 	height:300px;
	 	margin:0;
	 	padding:0;
	 	
	 }

    .header {
        width:1000px;
	    margin:0 auto;
	}
	#top_navi{
       background:#363636;
	   height:30px;
	   overflow:hidden;
	}
	#top_navi ul li{
      float:left;
	  line-height:30px;
	}
	#top_navi ul li a{
       color:#ffffff;
	   margin:10px;
	}
    #top_navi ul li a:hover{
       color:#dbbec2;
	}
	#top_navi span{
      float:right;
 	  margin-right:20px;
	  margin-top:8px;
	}
    
    #logo{
       text-align:left;
	   padding:20px;

	}

	#small_navi{
      overflow:hidden;
	  line-height:30px;
	  border-bottom:solid 2px;
	}
	#small_navi ul li {
	   float:left;
  	}
	#small_navi ul li a{
       margin:10px;
	}
    
	#small_navi ul li a:hover{
        color:#a56468;
	}
	
	#big_navi{
	  overflow:hidden;
	  line-height:30px;
	  border-bottom:2px solid;    /* 하단경계선 */
	}
	#big_navi ul li{
      float:left;
	 
	}
	#big_navi ul li a{
     margin:23px;
	 text-align:center;
	}
    #big_navi ul li a:hover{
	    color:#a56468;
     }
    #big_navi ul li span.boder{
        width:0;
	    height:10px;
		border-right:1px solid #ccc;
		float:right;
		margin-top:10px;
	}

     #big_navi ul li span.boder_nond{
         border-right:none;
	 }
	 
	 #list_t ul tr{
		overflow:hidden;
		width:100%;
		min-width:250px;
		background:#fff;
		margin-bottom:5px;
	}
	/* 컨텐츠 */
	#content{
		padding:5px;
		overflow:hidden;
	}
	
	ul.text_title li{
		width:1000px;
	    margin:0 auto;
	    height:35px;
		line-height:35px;
		border-bottom:1px solid #ccc;
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
		padding:0 10px;
	}
		
	tr.song_list td{
		font:12px "닭음고딕";
	    margin:0 auto;
	    height:35px;
		line-height:35px;
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
		padding:0 10px;
	}
	
	tr.song_emp_list td{
	    margin:0 auto;
	    height:1px;
		line-height:1px;
		border-bottom:1px solid #ccc;
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
		padding:0 10px;
	}
	
	nav{
		height:30px;
		width:100%;
		background-color:#000000;
		margin:0;
		padding:0;
		background-repeat: repeat-x; /* 배경이미지를 X 축으로 반복 */
		background-position: top;  /* 배경이미지의 위치 지정 */

	}
	

	nav ul#dropdown{
		list-style-none;
		padding: 15px 0 0 15px;
		
	}
	
	nav ul#dropdown li{
		float:left;
		margin:0;
	}
	
	nav ul#dropdown li a {
		color:#ffffff;
		padding:0 30px;
		height: 20px;
		line-height:3px;
		text-decoration: none;
		display: block;
	}
	
	nav ul#dropdown li a:hover{
		color:#FFCC00;
		text-shadow:2px 2px 3px #000;
	}
	
	nav ul#dropdown li ul {
		margin:0px 0 0 0;
		padding:0;
		list-style:none;
		position:absolute;
		visibility:hidden;
		z-index:1;
		
	}

	nav ul#dropdown li ul li{
		float:none
	}
	nav ul#dropdown li ul li a{
		width:auto;
		padding:17px 30px 7px 15px;
		background: #000000;
		font-size:0.9em
		display:block;
	} 
	
	nav ul#dropdown li ul li a:hover{
		background:#c0c0c0;
	} 
	
	
	header #search{
	 	margin:0; 
	 	padding:0;
	 	float:right;
	 	position: relative;
    	right:26%;
    	bottom:-52%; 
	 }
	header #search .main_input{
	width:350px;
	height:30px;
	border:#000000 3px solid; 
	padding:0 5px;
	}
	
	header #search .btn1{
	background-color:#ffffff;
	border:solid 1px #ffffff;
	color: #000000;
	height:28px;
	width:55px;
	margin-left:2px;
	}